/PW/IMC/nbproject/private/
/PW/IMC/build/
/PW/PW-2019-2-Model/build/
/PW/PW-2019-2-Model/dist/
/PW/PW-2019-2-Model/nbproject/private/
/PW/PW-2019-2-Web/dist/
/PW/PW-2019-2-Web/build/
/PW/Livraria/Livraria-Model/build/
/PW/Livraria/Livraria-Model/dist/
/PW/Livraria/Livraria-Model/nbproject/private/
/PW/Livraria/Livraria-Web/build/
/PW/Livraria/Livraria-Web/nbproject/private/
/PW/Livraria/LivrariaModel/nbproject/private/
/PW/Livraria/LivrariaModel/build/
/PW/Livraria/LivrariaModel/dist/
/PW/Livraria/LivrariaView/build/
/PW/Livraria/LivrariaView/nbproject/private/
/PW/Livraria/LivrariaView/dist/